<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="unit1Port" value="50100"/>
    <add key="unit2Port" value="50101"/>
    <add key="tcpWorkerLoopIdleTime" value="100"/><!-- milliseconds-->
  </appSettings>
</configuration>